*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: rgb(35, 116, 221);
}

h1{
    color: #fff;
    font-size: 3rem;
    font-weight:50;
    margin: 1rem 0 3rem;
    text-align: center;
    font-family: 'Hind', sans-serif;
}

.style{
   font-weight: 800;
   color: rgb(12, 12, 112);
}
.serch_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.serch_div input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 440px;
    font-size: 1.15rem;
    margin: 2.25rem;
    border-radius: 25px;
    margin-right:4.5em;
}

#todoForm{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#todoForm input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
}
.addButton{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgb(5, 31, 80);
    color: blue;
    margin:  0.25px;
    cursor: pointer;
}

.addButton:hover{
    color: lime;

}

#todolist{
    color: black;
}

ul{
   text-align: center;
   padding-top: 3em;
   /* margin-right: 25em; */
   font-size:  30px ;
}